* {
  padding: 0px;
  margin: 0%;
}
.primary-fonts {
  font-family: "Roboto", sans-serif;
}
.yellowtail-fonts {
  font-family: "Yellowtail", cursive;
}
/* nav section  */
header {
  position: relative;
}
.nav-container {
  position: sticky;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo-box > img {
  height: 60px;
  width: 65px;
}
.logo-box > h2 {
  color: #274c5b;
  font-size: 32px;
  font-weight: 700;
}
.ul-list ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
.ul-list ul > li {
  color: #274c5b;
  font-size: 20px;
  font-weight: 500;
}

.primary-btn {
  padding: 8px 15px;
  border-radius: 4px;
  /* top , right, bottom, left || top and bottom & right and left*/
  background-color: #274c5b;
  color: white;
  border: none;
  font-weight: 700;
}
.primary-btn:hover {
  padding: 8px 15px;
  border-radius: 4px;
  /* top , right, bottom, left || top and bottom & right and left*/
  background-color: #283c44;
  color: #ffffff;
  border: none;
  font-weight: 700;
  transform: scale(1.02);
  transition: 0.5s;
}

/* banner section  */
.banner-container {
  background-image: url(img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.explore-btn {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #efd372;
  border: none;
  color: #274c5b;
  font-size: 20px;
  font-weight: 700;
}
.view-btn {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #efd372;
  border: none;
  color: #274c5b;
  font-size: 20px;
  font-weight: 700;
}
.view-btn:hover {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #f9f7f2;
  border: none;
  color: #274c5b;
  font-size: 20px;
  font-weight: 700;
}

.discountbox1 {
  background-image: url(img/img2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.discountbox2 {
  background-image: url(img/img3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primary-shadow {
  box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.07);
}

.tes-bg {
  background-image: url(img/tem.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item1 {
  background-image: url(img/item1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item2 {
  background-image: url(img/item2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item3 {
  background-image: url(img/item3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news1 {
  background-image: url(img/news1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news2 {
  background-image: url(img/news2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-shadow {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.banner-img {
  background-image: url(img/banner-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
